@use 'mediaQueries.scss';
@use '..//style/node_modules/bootstrap/scss/bootstrap.scss';

html {
  width: 100%;
  font-size: 10px;
}

/* BARRE DE NAVIGATION */

#logo {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar_content {
  
  padding: 10px;  

  a:active {
    color: red;
    background: rgb(235, 230, 188);
  }

  li {
    font-family: 'Gloria Hallelujah', cursive;
  }

}

#btn_navbar > .navbar-toggler {
  color: red;
  border-color: yellow;
  border-radius: 10px;
}

.nav-item {
  box-shadow: -0.2em 0 .5em rgb(166, 167, 120);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.2em;
}

#Nav > .container > .row {
  margin: auto;
}

#dropdown_archives {
  font-family: 'Courier New', Courier, monospace;
  font-size: 9px;
  padding-top: 0px;
  padding-left: 20px;
}

/* FOOTER */

.footer {
  font-size: 8px;
  background: black;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

#copyright {
  font-size: 6px;
  font-style: oblique;
  
 
}

/*ACCUEIL*/

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

.accueil > section > article {
  margin-top: 5px;
  border: 2px solid rgb(92, 90, 90);
  border-radius: 10px;
  
  div .card {
    border-radius: 0px 0px 10px 10px;
  }

  .card-title {
    font-weight: bold;
    background: rgb(238, 236, 236);
    box-shadow: -0em 0 .8em rgb(130, 134, 6);
    height: 25px;
  }

}

.card > .card-header {
  background: rgb(224, 224, 204);
  font-weight: bolder;
  font-size: 13px;
}

.New_year > div .card-body > p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 12px;
}

.article_event > div .card-header {
  color: rgb(252, 135, 2);
  font-weight: bolder;
  font-size: 20px;
}

.general_information > div .adhésion {
  font-size: 11px;
  text-decoration: underline;
}

/*EVENT*/

.event > section > .card > .card-body {
  font-size: 9px;

  .btn {
    font-size: 9px;
    width: 100px;
    font-weight: 700;
  }
}

.modal-body  {
  
  form > div > label {
    font-weight: bold;
    font-size: 9px;
  }

  .form-check {
    font-size: 9px;
    font-style: italic;
  }
}

.modal-footer > .btn {
    font-size: 9px;
}

.modal > .modal-dialog {
  width: 70%;
  margin-left: auto; 
  margin-right: auto;

  h5 {
    font-weight: bold;
    text-align: center;
  }
}

/* Officiel table participation*/

.human_participation {
  margin: 1px;
  padding: 0px;
  border: 1px solid black;
  
  h5 {
  font-size: 16px;
  font-weight: bold;
  } 
}


#table_participation {
  font-size: 8px ;
  
  td > button {
    font-size: 6px;
  }
}

/*progress bar event participation*/ 

.progress_bar {
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
  background: lightgreen;
  border: 1px solid rgb(180, 171, 171);
  
  h5 {
    font-size: 9px;
    text-align: center;
  }

  .progress {
    margin-bottom: 5px;
  }
}

/*CLUB*/

.club > section .card > .card-body {
  text-align: justify;
}

.statut_club > .row > .col > .card > ul > li {
  list-style: none;
  background: lightgray;
  border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;

  h5 {
    font-size: 12px;
    color: rgb(0, 183, 255);
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
  }

  p {
    padding-left: 5px;
  }
}

/* Photos*/

.photos > section > p {
    font-size: 30px;
    border: 2px solid black;
    background: lightgray;
    margin-top: 150px;
    margin-bottom: 150px;  
}



/*Contact*/

.contact_page > h1 {
  background :rgb(209, 204, 204);
}

.needs-validation {
  background: rgba(202, 174, 174, 0.747);
  text-align: center;
  width: 300px;
  height: 450px;
  margin: auto;
  border: 1px solid black;
  border-style: dotted;
}

.contact_page > section .btn {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

label {
  font-weight: bold;
  font-style: oblique;
  font-size: 11px;
  padding-top: 3px;
}


#condition_accept {
  font-size: 8px;
}



/*PROBLEME

page contact

radio moto Vtt s'active mais ne se désactive pas 
logo fmm et lmoc n'ont pas de target blank 
Accueil plus gros .

taille archives trop petite pour un smartphone
rajouter un bouton fixe pour retour au début
rajouter des archives 2011-2015


finioler les fenetre de participation pilot eet encadrement


*/